
  
    
    <div class="content">
      <div  class="p-con">
        <h1> 
          {{ displayText }} 
        </h1>
        <p>As Skilled Front-end developer , Iam Dedicated To turning Ideas Into Innovative Web Application. Explore my Latest projects , showcasing my expertise in angular.js and pure code with js and web development  </p>
        <a href="https://drive.google.com/file/d/1ETracSv0zKuXksUjg_m5XSeBACdZYBc0/view" target="_blank">
          <button class="primary">Resume</button>
        </a>
        <a class="btn-con" href="https://wa.me/201150227005" target="_blank">
          Contact on Whatsapp
        </a>
    </div>
<div>
        
          <div class="hireme">
             <svg width="300" height="300" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <path id="circlePath" d="M 150,150 m -100,0 a 100,100 0 1,0 200,0 a 100,100 0 1,0 -200,0" />
            </defs>
            <text font-size="16" font-family="Arial" fill="black">
              <textPath href="#circlePath" startOffset="0%">
                Web Developer • UI/UX Designer • Angular Developer • Web Developer • UI/UX Designer • Angular Developer •
              </textPath>
            </text>
          </svg>
          <div>Hire Me</div>
          </div>
          
    </div>
   
    
    </div>
    

