<div class="content">
    <h1>Passion Fuels Purpose!</h1>
    <div class="container">
        <div class="pr1-res" >
            <h5 class="label">BIOGRAPHY</h5>
            <p class="fs14">Hi, I’m <b>sedik khaled</b>, iam 21 years old  , a web developer and UI/UX designer with a passion for creating beautiful, functional, and user-centered digital experiences. With 3+ years of experience in the field, I am always looking for new and innovative ways to bring my clients’ visions to life.</p>
            <p class="fs14">I believe that design is about more than just making things look pretty – it’s about solving problems and creating intuitive, enjoyable experiences for users.</p>
            <p class="fs14">Whether I’m working on a website, mobile app, or other digital product, I bring my commitment to excellence and user-centered thinking to every project I work on. I look forward to the opportunity to bring my skills and passion to your next project.</p>

            <p class="fs14">
                i joined to udacity and i graduated in web developer proffessniol track and my projects graduatin wether app and landing
            </p>
        </div>
        <div class="pr2-res">
            <img src="assests/1d51a75b-0165-407a-b2da-e06fead8f185.jfif" alt="" >
        </div>
        <div class="pr3-res" >
            
            <div>
                <h2>5+</h2>
            <p class="label">statisfied clients</p>
            </div>
            <div>
                <h2>10+</h2>
            <p class="label">projects completed</p>
            </div>
            <div>
              <h2>3+</h2>
            <p class="label">Years Of Experience</p>  
            </div>
            
        </div>
    </div>
    <h3>Skills</h3>
    <ul>
        <li>
            web
        </li>
        <li>Html</li>
        <li>Css</li>
        <li>JavaScript</li>
        <li>Bootstrap5</li>
        <li>Scss</li>
        <li>Postman</li>
        <li>Firebase</li>
        <li>Github</li>
        <li>Php Basics</li>
        <li>angular.js</li>
        <li>React Basics</li>
    </ul>
</div>