    <div class="content">
    <h1>Imganition Trumps Knowledge !</h1>
    <div class="boxes">

        <div class="box">
            <div class="border">
                <img src="assests/pr5.PNG" alt="project1" style=" width: 100%;
      border-radius: 80px;"/>
               <h3>budget-planner website</h3>
               <p>developed by angular.js this website responive with big screens</p>
               <p> this web site calculate income ,expense and Total Income to work  </p>
               <p><a target="_blank" href="https://angular-project-ftyx.vercel.app/">click here to visit website</a></p>
               <p>{{"email:admi@gmail.com"}} /password:123456 </p>
            </div>
        </div>

        <div class="box">
            <div class="border">
                <img src="assests/pr2.PNG" alt="project1" style=" width: 100%;
      border-radius: 80px;"/>
               <h3>modern furnitures website</h3>
               <p>developed by html,css,bootstrap,js </p>
               <p>this website responive with all screens and it has cart to buy products and calculate to visit website visit this link   </p>
               <p><a target="_blank" href="https://sedik-khaled.github.io/furnitbypure/">click here to visit website</a></p>
               <p>{{"email:admi@gmail.com"}} /password:123456 </p>
               
            </div>
        </div>

         <div class="box">
        <div class="border">
            <img src="assests/pr4.PNG" alt="project1" style=" width: 100%;
  border-radius: 80px;"/>
           <h3>electrical appliances E-commerce</h3>
           <p>developed by react.js this website responive with all screens</p>
           <p> i use in this website libraries and i addded cart to buy products to visit website visit this link   </p>
           <p><a target="_blank" href="https://react-e-commerce-update2.vercel.app/">click here to visit website</a></p>
           
        </div>
    </div>
    <div class="box">
        <div class="border">
            <img src="assests/pr3.PNG" alt="project1" style=" width: 100%;
  border-radius: 80px;"/>
            <h3>dynamic signin and signup page</h3>
            <p>developed by html,css,js</p>
            <p>to visit website visit this link: </p>
            <p><a target="_blank" href="https://sedik-khaled.github.io/loginpage/">click here to visit website</a></p>
        </div>
    </div>

    

   

    
    </div>
    </div>
